# Ignore Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variable files
.env
*.env

# macOS and Windows system files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

#
.env